* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 5px 5px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 80px;
    background-color: #ffffff;
    
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

/* Contact Button */
.contact-btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.contact-btn:hover {
    background-color: #007bff; /* A shade of blue */
    box-shadow: 0px 15px 20px rgba(0, 123, 255, 0.4);
    color: #fff;
    transform: translateY(5px);
}

.contact-btn:active {
    transform: translateY(-1px);
  }

/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .contact-btn {
        padding: 8px 16px;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .mobile-menu {
        display: block;
    }
}
